*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

.container{
    width: 100%;
    margin: auto;
    background: white;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 25px;
}
/*
crear el evento show para menu-btn
.nav-main ul.nav-menu.show{
    transform: translate(-20px);
} 
*/
a{
    color: rgba(248, 248, 255, 0.851);
    text-decoration: none;
}

.nav-main a:hover{
    border-bottom: dotted rgba(34, 30, 101, 0.881);
}

ul{
    list-style: none;
}

.nav-menu{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(21, 23, 154, 0.833);
}

.nav-main ul{
    display: flex;
}
  
.nav-main ul li{
    padding: 15px;
}

.nav-second img{
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    margin: 30px auto;
    display: flex;
}
    /* COMIENZA CONTAINER IMG */
.container-img h2{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

img{
    width: 300px;
    height: 300px;
}

.container-img{
    text-align: center;
}

.container-img img{
   border: gray;
   margin: 30px;
   box-shadow: 1px 5px 2px rgba(33, 29, 58, 0.14); 
   border-radius: 5px;
   cursor: pointer;
}

/* empieza la seccion contacto */
.banner{
    height: 300px;
    display: flex;
    background: linear-gradient(white, grey);
    justify-content: center;
    padding-top: 100px;
}

.presentation li{
    display: inline-block;
    justify-content: space-around;
    padding: 60px;
}

.presentation a{
    font-family: "Lucida Console", Courier, monospace; 
    font-size: 42px; 
    COLOR: #1278BF; 
    text-shadow: 1px 0px 9px #508AD3;
}
    /* Redes Sociales */

.social h3 {
    text-align: center; 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 40px; 
    COLOR: #145888f0; 
    text-shadow: 0px 0px 7px #508AD3;
    padding-bottom: 30px;
    padding-top: 25px;
}
    /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
.social{
    height: 300px;
    background: linear-gradient(grey, black);
    text-align: center;
}

.icon{
    font-size: 36px;
    COLOR: #116eb0f4; 
    text-shadow: 0px 0px 6px #2a62a7a9;
    margin: 20px;
}
 /* Copyright */
.copyright{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.611);
    padding-top: 60px;
}
@media (max-width: 1050px){
     .presentation a{
    font-size: 28px;
    }
}
@media (max-width: 750px){

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #64656379;
        height: 100%;
    }
    .nav-menu a{
        color: black;
    } 
    img{
        width: 180px;
        height: 180px;
    }
    .banner{
        height: 220px;
        padding-top: 25px;
    }
    .presentation li{
        display: flex;
        padding: 10px;
    }
}
/* Estilos de la carta de presentacion */
.img-presentation{
    padding: 25px 0px 15px ;
}
.presentation h3{ 
    padding-top: 20px;
}
.presentation{
    padding-top: 20px ;
}
.presentation p{
    font-size: 18px;
}
